@use './assets/scss/parcials/header';
@use './assets/scss/parcials/gallery';
@use './assets/scss/parcials/code-snippet';
@use './assets/scss/parcials/copy-hint';

*{
    box-sizing: border-box;
}


body{
    background: #1d1d1d;
    color: #fff;
    font-family: 'Inconsolata', monospace;
}

p{
    margin-left: 15px;

    a{
        color: rgb(255, 251, 0);
    }
}

.italic{
    font-style: italic;
}

.links{
    display: flex;
    flex-wrap: wrap;
}